{% extends "user_account/base.html" %}
{% load static %}
{% block content %}
<h3>Все питомцы</h3>
<form method="get" action="/user_account/add_pet">
  <input type="submit" value="Добавить">
</form>
{% for pet in pets %}
<p>{{ pet.PetName }}</p>
<p>{{ pet.DateOfBirth }}</p>
<p>{{ pet.get_PetSex_display }}</p>
<p>{{ pet.PetTypeId }}</p>
<p>{{ pet.BreedId }}</p>
<p>{{ pet.Weight }}</p>
<img src="{% if pet.Image %}{{ pet.Image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
<p><a href="{% url 'user_account:edit_pet' id=pet.PetId %}">Редактировать</a></p>
<p><a href="{% url 'user_account:delete_pet' id=pet.PetId %}">Удалить</a></p>
{% endfor %}
{% endblock %}
