{% extends "user_account/base.html" %}
{% load static %}
{% block content %}
<h3>Удаление питомца</h3>
{% for pet in pet_data %}
<p>{{ pet.PetName }}</p>
<p>{{ pet.DateOfBirth }}</p>
<p>{{ pet.get_PetSex_display }}</p>
<p>{{ pet.PetTypeId }}</p>
<p>{{ pet.BreedId }}</p>
<p>{{ pet.Weight }}</p>
<img src="{% if pet.Image %}{{ pet.Image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
{% endfor %}
<form method="post">
    {% csrf_token %}
    <input type="submit" value="Удалить">
</form>
{% endblock %}
